
body{
    background-color: #232323;
}

#newLinkFormBox{
    display: flex;
    flex-wrap: wrap;
}

.textbox{
    margin: 10px;
    width: 200px;
    height: 50;
    color: white;
}

.buttonView{
    display: flex;
    flex-wrap: wrap;
}

#closeFormButton{
    margin-left: 10px;
}