
body{
    background-color: #232323;
}

#newLinkFormBox{
    display: flex;
    flex-wrap: wrap;
}

.textbox{
    margin: 10px;
    width: 200px;
    height: 50;
    color: white;
}

.buttonView{
    display: flex;
    flex-wrap: wrap;
}

#buttonCage{
    display: flex;
}

#addNewLinkButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
}